extends layout

block content
  h1= title
  ul
    li
      a.active(href='../') Elenco Unità
    li
      a(href='../addUnit') Nuova Unità
    li 
      a(href='/delUnit') Elimina Unità
    li 
      a(href = '/upUnit') Aggiorna Unita
  br
  each r in re
    h1 Unit: #{r.Unit}
    a(href=`/dettagli/${r.Unit}`) 
      img(src=`/img/${r.Unit}.png`)
    br
    hr